<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый читатель</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
  <label style="font-size: 20px" for="name">Введите ФИО читателя: </label>
  <input style="font-size: 16px" size="30" type="text" th:field="*{name}" id="name">
  <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
  <br>

  <label style="font-size: 20px" for="birthYear">Введите год рождения: </label>
  <input style="font-size: 16px" size="4" type="text" th:field="*{birthYear}" id="birthYear">
  <div style="color: red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}"></div>
  <br>

  <input style="font-size: 20px" type="submit" value="Создать">
</form>

<form th:method="GET" th:action="@{/index}">
  <input style="font-size: 20px" type="submit" value="Вернуться на главную">
</form>
</body>
</html>