<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый читатель</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
  <label for="name">Введите ФИО читателя: </label>
  <input type="text" th:field="*{name}" id="name">
  <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
  <br>

  <label for="birthYear">Введите год рождения: </label>
  <input type="text" th:field="*{birthYear}" id="birthYear">
  <div style="color: red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}"></div>
  <br>

  <input type="submit">
</form>
</body>
</html>