<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.name}"></title>
</head>
<body>
<p style="font-size: 20px" th:text="${person.getName() + ', ' + person.getBirthYear()}"></p>

<hr>

<form th:method="GET" th:action="@{/people/{id}/edit(id = ${person.getPersonId()})}">
    <input style="font-size: 20px" type="submit" value="Редактировать">
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id = ${person.getPersonId()})}">
    <input style="font-size: 20px" type="submit" value="Удалить">
</form>
</body>
</html>