<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
</head>
<body>
<p th:each="book : ${books}">
    <a style="font-size: 20px" th:href="@{books/{id}(id = ${book.getBookId()})}"
       th:text="${book.name + ', ' + book.getAuthor() + ', ' + book.getYear()}"></a>
</p>

<form th:method="GET" th:action="@{/books/new}">
    <input style="font-size: 20px" type="submit" value="Добавить">
</form>

<form th:method="GET" th:action="@{/index}">
    <input style="font-size: 20px" type="submit" value="Вернуться на главную">
</form>
</body>
</html>
